<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.start">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="Coinbank Wallet"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Start"
        tools:targetApi="31">
        <activity
            android:name=".homePage"
            android:exported="false" />
        <activity
            android:name=".settings_about"
            android:exported="false" />
        <activity
            android:name=".ExpanseHistory"
            android:exported="false" />
        <activity
            android:name=".CashHistory"
            android:exported="false" />
        <activity
            android:name=".Spalash_Screen3"
            android:exported="false" />
        <activity
            android:name=".Spalash_Screen2"
            android:exported="false" />
        <activity
            android:name=".addExpanse"
            android:exported="false" />
        <activity
            android:name=".TestLayout"
            android:exported="false" />
        <activity
            android:name=".error"
            android:exported="false" />
        <activity
            android:name=".accountSettings"
            android:exported="false" />
        <activity
            android:name=".addIncome"
            android:exported="false" />
        <activity
            android:name=".signIn"
            android:exported="false" />
        <activity
            android:name=".HelpMenuBar"
            android:exported="false" />
        <activity
            android:name=".FeedbackMenuBar"
            android:exported="false" />
        <activity
            android:name=".RateUsMenuBar"
            android:exported="false" />
        <activity
            android:name=".ShareMenuBar"
            android:exported="false" />
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".signUp"
            android:exported="false" />
        <activity
            android:name=".Spalash_Screen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FirstScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>